@model BookManagementApp.Models.Book

@{
    ViewData["Title"] = "書籍詳細";
}

<div class="spacer"></div>
<div class="contianer">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center page-title">
            <h1>書籍情報</h1>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="contianer input-box card">
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                書籍ID
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.BookId)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                タイトル
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.Title)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                著者
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.Writer)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                出版社
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.Company)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                価格
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.Price)円</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                購入日
            </span>
        </div>
        <div class="col-md-6">
            <span>@ViewData["BuyDate"]</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                書籍管理部門
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.ManagementDepartment)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                更新日
            </span>
        </div>
        <div class="col-md-6">
            <span>@ViewData["UpdateDate"]</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                更新者
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.Person.UserId)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                更新者部署
            </span>
        </div>
        <div class="col-md-6">
            <span>@Html.DisplayFor(model => model.Person.DepartmentName)</span>
        </div>
    </div>
</div>

<div class="spacer"></div>

<form>
    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-md-1 col-sm-3 offset-sm-1">
                <button class="btn btn-fill btn-default" asp-action="Index" asp-controller="BookManagement">戻る</button>
            </div>
            <div class="col-md-2 offset-md-4 col-sm-3 offset-sm-2">
                <a href="#" class="btn btn-fill btn-danger" onclick="moveAction('@Model.BookId')">削除</a>
            </div>
            <div class="col-md-2 offset-md-1 col-sm-3 offset-sm-0">
                <button class="btn btn-fill btn-primary" asp-action="Edit" asp-controller="BookManagement"
                    asp-route-id="@Model.BookId">更新</button>
            </div>
        </div>
    </div>
</form>


<script>
    function moveAction(id) {
        let check = confirm('本当に削除します。よろしいですか？')
        if (check) {

            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '@Url.Action("Delete","BookManagement")/' + id;
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
